// A custom class to use with visibility purposes
.custom_show {
  display: block;
}

.custom_hide {
  display: none;
}

.custom_show_overrider {
  display: block !important;
}

.custom_hide_overrider {
  display: none !important;
}

/* Extra hacks not to deal with source code to hide one offer */

.hidden-offer{
	display: none !important;
}